*{
    margin: 0px;
    padding:0px ;
    box-sizing: border-box;
    border: 1px solid  ;
}

body{
    background-color: black;
    

}

#app-launch{
    background-color: white;
    border-color: blue;
    height: auto;
}

.sections{
    width:100% ;
    overflow: hidden; /* incase elements start moving out of the div*/
}

#header {
    height: 142.5vh;
    border-color: red;
}

#the-app {
    height: 97vh ;
    border-color: yellow;

}

#clarity{
   height:98vh ;
   border-color:darkorchid
}

#features {
    height: 130vh ;
    border-color: pink;
}

#pricing {
    height:140vh ;
    border-color: green;
}

#footer {
    height:28vh ;
    border-color: cyan;
}

h1{
    border: none;
}



