*{
    margin: 0px;
    padding:0px ;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
    

}

#app-launch{
    background-color: white;
    border-color: blue;
    height: auto;
}

.sections{
    width:100% ;
    overflow: hidden; /* incase elements start moving out of the div*/
}

#header {
    height: 141.5vh;
    border-color: red;
    color: #fff ;
    position: relative ;
   
    
}

#the-app {
    height: 105vh ;
    border: 3px solid blueviolet;

}

#clarity{
   height:98vh ;
   border: 3px solid rgb(226, 43, 113);
   
}

#features {
    height: 130vh ;
    border: 3px solid rgb(226, 131, 43);
}

#pricing {
    height:150vh ;
    border: 3px solid rgb(43, 55, 226);
    text-align: center;
    padding: 0 2.5vh 0 2.5vh;
}

#footer {
    height:28vh ;
    border: 3px solid rgb(80, 226, 43);
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    border: none;
}
.App-section{
    border: 3px solid blue;
    height: 16vh;
    width: 30%;
    margin-top: 5%;
    margin-left: 24px;
}
.TheApp-part{
    font-size: 85px;
    font-family: "Poppins", sans-serif;
}
.Buyit-part{
    border: 3px solid rgb(255, 17, 0);
    height: 16vh;
    width: 30%;
    margin-top: 14px;
    margin-left: 24px;
}
.Thebuyit-part{
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #4CAF50 ;
}
.first-Paragraph{
    border: 3px solid rgb(255, 123, 0);
    height: 23vh;
    width: 65%;
    margin-top: 3px;
    margin-left: 24px;
}
.Photos-Paragraph{
    font-size: 21px;
    font-family: "Poppins", sans-serif;
}
.Theparagraph-part{
    font-size: 32px;
    font-family: "Poppins", sans-serif;  
    font-weight: 200;
}
.button-section{
    border: 3px solid rgb(145, 255, 0);
    height: 8vh;
    width: 18%;
    margin-top: 4px;
    margin-left: 24px;
    background-color: #f1f1f1;
}
.button-part{
    font-size: 21px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 3%;
}

#header img{
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: 1; */
}


#download-section{
    background-color: black;
    opacity: 60%;
    height:34.3vh;
    width: 69vh;
    border-radius: 12px;
    color: #fff ;
    text-align: center;
    padding-top: 3.5vh;
    padding-bottom: 5vh;
    padding-left: 4vh;
    padding-right: 4vh;
    margin-left: 2.5vh;
   

    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);

  }

#download-section h4 {
    font-size: 36px;
    padding-bottom: 3vh;
    font-weight: lighter;
  
}  

#download-section p{
    font-size: 24px ;
    padding-top: 3.5vh ;
    padding-bottom: 3vh;

   

}

#download-section hr {
    font-weight: lighter;
}
  
#download-button {
    background-color: #4CAF50;
    font-size: 24px;
    color: #fff ;
    border-radius: 7px;
    width: 100% ;
    height: 6.5vh ;
    border: none ;
  }
  
#download-section:hover {
    opacity: 100%;
    cursor:grab;
  }

#download-button:hover {
    background-color: #ccc;
    color: black ;
    cursor:grab;
}  

#take-tour {
    
    background-color: black;
    height: 6.7vh ;
    width: 19.7vh ;
    color: #fff ;
    font-size: 24px ;
    text-align:center;
    border-radius: 5px;
    border: none;
    padding: 12px 10px 12px 13px;

    position: absolute;
    top: 50%;
    left: 89.5%;
    transform: translate(0%,-50%);
}

#pricing h1{
    font-size: 95px;
    color: black ;
    padding-top: 12vh;
   
}

#pricing p {
    padding-top: 3vh;
    font-size: 27px;
}

#pricing-plan {
    margin-top: 13vh;
    display: flex ;
    height: auto;
}

#pricing-plan div {
    width: 49.5% ;
    height: inherit;
    background-color: white;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1) ;
}

#pricing-plan div:hover {
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.19), 0 6px 20px 1px rgba(0, 0, 0, 0.2) ;

}

#premium{
    margin-left: 2.5vh ;
}

table,th,tr{
    width: 100% ;
    border: none;
    border-collapse: collapse;
}  

th {
    height: 16.5vh ;
    color: white;
    font-size: 36px;
    font-weight: lighter;
}

#basic th {
  background-color: #616161;
}

#premium th {
  background-color: #f44336;
}

td{
    border-bottom: 1.5px solid #ddd;
    height: 9.5vh;
    padding-top: auto;
    padding-bottom: auto;
    color:black ;
    font-size: 24px;
    text-align: center;

}

.price-row {
    height: 14.3vh;
}

.price-row td {
  font-size: 42px;
  color:#616161;
}

.price {
    font-size: 30px;
    margin-bottom: 1vh;
}

.download-price {
    border-bottom: none;
    height: 16.5vh ;
    background-color:#f1f1f1;
    
}

.download-price button {

    border: none; 
    height: 7.8vh ;
    width: 25vh ;
    padding: auto;
    margin-top: 2vh;
    font-size: 24px ;
    background-color: black;
    color:#fff ;
}


.download-price button:hover  {
    color:black;
    background-color:#ccc;
    cursor:grab ;
   
}

#footer-icons {
    font-size: 36px;
    color: black ;
    margin-bottom: 25px ;
    

}

#footer-link {
    font-size: 23px ;

}

#footer-link a {
   text-decoration: underline;

}

#footer-link a:visited {
    color: inherit;
}

#footer-link a:hover{
    color:#4CAF50 ;
    cursor: grab ;
}

.Thebutton-part{
    font-size: 21px;
    font-family: "Poppins", sans-serif;
    border-style: none;
}
.option-section{
    border: 3px solid rgb(0, 102, 255);
    height: 9vh;
    width: 17%;
    margin-top: 41px;
    margin-left: 24px;
}
.option-part{
    font-size: 21px;
    font-family: "Poppins", sans-serif;
}
#the-app .fa-android{
    color: #4CAF50;
    width: 7%;
}
#the-app .fa-apple{
    color: black;
    width: 7%;
}
#the-app .fa-windows{
    color: #2196F3 ;
}
.image-section{
    margin-top: -615px;
    margin-left: 1300px; 
}
img{
    width: 445px;
}
