*{
    margin: 0px;
    padding:0px ;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
    

}

#app-launch{
    background-color: white;
    border-color: blue;
    height: auto;
}

.sections{
    width:100% ;
    overflow: hidden; /* incase elements start moving out of the div*/
}

#header {
    height: 142.5vh;
    border-color: red;
    color: #fff ;
    position: relative ;
    
}

#the-app {
    height: 105vh ;
    /* border: 3px solid blueviolet; */

}

#clarity{
   height:100vh ;
   border: 3px solid rgb(255, 255, 255);
   
}

#features {
    height: 130vh ;
    border: 3px solid rgb(226, 131, 43);
}

#pricing {
    height:140vh ;
    border: 3px solid rgb(43, 55, 226);
}

#footer {
    height:28vh ;
    border: 3px solid rgb(80, 226, 43);
}

h1{
    border: none;
}
.App-section{
    /* border: 3px solid blue; */
    height: 16vh;
    width: 30%;
    margin-top: 5%;
    margin-left: 24px;
}
.TheApp-part{
    font-size: 85px;
    font-family: "Poppins", sans-serif;
}
.Buyit-part{
    /* border: 3px solid rgb(255, 17, 0); */
    height: 16vh;
    width: 30%;
    margin-top: 14px;
    margin-left: 24px;
}
.Thebuyit-part{
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #4CAF50 ;
}
.first-Paragraph{
    /* border: 3px solid rgb(255, 123, 0); */
    height: 23vh;
    width: 65%;
    margin-top: 3px;
    margin-left: 24px;
}
.Photos-Paragraph{
    font-size: 21px;
    font-family: "Poppins", sans-serif;
}
.Theparagraph-part{
    font-size: 32px;
    font-family: "Poppins", sans-serif;  
    font-weight: 200;
}
.button-section{
    /* border: 3px solid rgb(145, 255, 0); */
    height: 8vh;
    width: 18%;
    margin-top: 4px;
    margin-left: 24px;
    background-color: #f1f1f1;
}
.button-part{
    font-size: 21px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 3%;
}

#header img{
    width: 100%;
    height: 100%;

}

#header div {
    margin-left: 2.5vh ;
}


#download-section{
    background-color: black;
    opacity: 55%;
    height:34.5vh;
    width: 69vh;
    border-radius: 15px;
    position: absolute;
    margin-top: 25%; 
    color: #fff ;
    text-align: center;
    padding: 4vh;

  }

#download-section h4 {
    font-size: 36px;
    padding-bottom: 3.5vh;
    font-weight: lighter;
  
}  

#download-section p{
    font-size: 24px ;
    padding-top: 3vh ;
    padding-bottom: 3vh;

}
  
#download-button {
    background-color: #4CAF50;
    font-size: 24px;
    color: #fff ;
    border-radius: 4px;
    width: 100% ;
    height: 6vh ;
    border: none ;
  }
  
#download-section:hover {
    opacity: 100%;
    cursor:grab;
  }

#download-button:hover {
    background-color: #ccc;
    color: black ;
    cursor:grab;
}  

#take-tour {
    position: absolute;
    background-color: black;
    height: 6.8vh ;
    width: 20vh ;
    color: #fff ;
    font-size: 24px ;
    border-radius: 5px;
    margin-left: 89.5%;
    margin-top: 32% ;
    border: none;
}




.Thebutton-part{
    font-size: 21px;
    font-family: "Poppins", sans-serif;
    border-style: none;
}
.option-section{
    /* border: 3px solid rgb(0, 102, 255); */
    height: 9vh;
    width: 17%;
    margin-top: 41px;
    margin-left: 24px;
}
.option-part{
    font-size: 21px;
    font-family: "Poppins", sans-serif;
}
#the-app .fa-android{
    color: #4CAF50;
    width: 7%;
}
#the-app .fa-apple{
    color: black;
    width: 7%;
}
#the-app .fa-windows{
    color: #2196F3 ;
}
.image-section{
    margin-top: -615px;
    margin-left: 1300px; 
}
img{
    width: 445px;
}
.secondimg-section{
    margin-top: 5%;
    margin-left: 20px;

}
.second-part{
    filter: grayscale(75%);
}
.clarity-sections{
    background-color: #f1f1f1;
}
.clarity-section{
    /* border: 3px solid blue; */
    height: 16vh;
    width: 30%;
    margin-top: -34%;
    margin-left: 606px;
}
.Theclarity-part{
    font-size: 85px;
    font-family: "Poppins", sans-serif;
}
.Pixels-part{
    /* border: 3px solid rgb(255, 17, 0); */
    height: 16vh;
    width: 30%;
    margin-top: 1%;
    margin-left: 606px;
}
.Thepixels-part{
    font-size: 63px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #f44336 ;
}
.second-Paragraph{
    /* border: 3px solid rgb(255, 123, 0); */
    height: 23vh;
    width: 65%;
    margin-top: 2px;
    margin-left: 606px;
}
.revolution-Paragraph{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.Therevolution-part{
    font-size: 32px;
    font-family: "Poppins", sans-serif;  
    font-weight: 200;
}
/* .sectionss{
    background-color: #616161;
}
.Thefeature-part{
    text-align: center;
    border: 3px solid red;
    hegi
} */